body {
  font-family: Arial, sans-serif;
  font-size: larger;
  margin: 2em;
  background: #fafafa;
}
header, footer {
  background: #eee;
  padding: 1em;
  border-radius: 4px;
}
main {
  margin-top: 2em;
}
ul li {
  padding: 10px;
}
nav a{
  padding: 10px;
  font-size: x-large;
  border: 1px;
}
header.post-header{
  background: #D3D3D3;
}

