body {
  font-family: Arial, sans-serif;
  font-size: larger;
  margin: 2em;
  background: #fafafa;
}
header, footer {
  background: #eee;
  padding: 1em;
  border-radius: 4px;
}
main {
  margin-top: 2em;
}
ul li {
  padding: 10px;
}
nav a{
  padding: 10px;
  font-size: x-large;
  border: 1px;
}

/* TABLE FORMATTING FOR INDEX HOME PAGE */
table.index-page-html {
  border-collapse: collapse;
  width: 80%;
}

table.index-page-html th,
table.index-page-html td {
  border-bottom: 1px dotted #333;
  padding: 10px;
  /* background-color: #fff; */
  position: relative;
}

/* Show something for empty cells, e.g. a subtle dash */
table.index-page-html td:empty::after,
table.index-page-html th:empty::after {
  content: '–';
  color: #ccc;
  font-size: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
